footer{
    background-color:#212143;
    height: 20rem;
    color: white;


}
#new{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-start;
    margin-top: 5rem;

}

.widget-title{
    margin-left: 50rem;
    }
svg{
    width: 1.6rem;
    height: 1.8rem;
  }
  .icon-white svg path {
    fill: white;
  }
   