<div class="component">
    <div class="technical-highlights">
        <h2>Technical highlights :</h2>
        <ul>
            <li>Proficient in TypeScript, JavaScript, and Java (Spring Boot) for versatile language capabilities</li>
            <li>Expertise in web technologies, including HTML/HTML5, CSS2/CSS3, and SCSS for robust and stylized web development.</li>
            <li>Advanced skills in front-end development using Angular 14, with a focus on Material Design and Bootstrap for modern and responsive user interfaces</li>
            <li>In-depth knowledge of databases, encompassing MySQL, MongoDB, and PL/SQL for efficient data management</li>
            <li>Utilized GitHub for version control, ensuring collaborative and organized software development practices</li>
            <li>Proficient in testing methodologies with Karma and Jasmine to maintain code integrity and reliability</li>
            <li>Accomplished in server-side development using NodeJS, ExpressJS, and Spring Boot to build robust and scalable applications</li>
            <li>Cloud proficiency in AWS and Docker, leveraging cloud services for scalable and flexible deployment</li>
            <li>Proven experience as a web developer with expertise in Highcharts, Canvas, and GoJS.</li>
            <li>Adept in project management methodologies such as Agile and Sprint Planning for efficient and collaborative project execution.</li>
            <li>Design and prototyping expertise using Figma to ensure seamless and user-friendly interfaces.</li>
            <li>Designed and implemented RESTful APIs using Angular HttpClient for efficient data handling.</li>
        </ul>
    </div>
</div>
