<div class="container">
    <div class="first">
      <div class="inner2">
        <img src="assets/new1.jpg" alt="">
      </div>
      <div class="inner">
        <div class="elementor-widget-container">
          <h1 class="title">I'm Web Developer<br>Vaishnavi Fulsaundar</h1>
        </div>
        <div class="elementor-widget-container">
       <h5> Seeking a responsible position in an organisation, which gives me
          a chance to improve knowledge, Enhance my skills and enable me to
          strive towards the overall, development of the organisation.<br>
          As a dedicated web developer, I am deeply passionate about my work.
       Every line of code I write is infused with enthusiasm and a commitment to excellence.<br>
       I thrive on the challenges of building dynamic and user-friendly
       websites that leave a lasting impression.
    </h5>
        </div>
      </div>
      <!-- <div class="inner3">
        <div class="elementor-widget-container">
            <h1 class="title">I Create Products, Not Just Arts</h1>
            <div class="explanation">
                <p><strong>Emphasis on Utility:</strong> The phrase "I Create Products" highlights that the creator focuses on developing items that have practical use and purpose. These are not just visually appealing pieces but are designed to serve a function, solve problems, or fulfill specific needs.</p>
            </div>
        </div>
      </div> -->
    </div>


<div class="second">&nbsp;&nbsp; &nbsp;
    <div class="inner">
    <h1 class="title">Frontend Developer</h1>
    <h5> A Front End Developer plays a crucial role in creating engaging and 
        user-friendly web interfaces, leveraging a combination of technical skills,
         creativity, and problem-solving abilities to deliver high-quality user experiences on the web.</h5>
</div>
<div class="inner1">
      <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-info text-dark" style="width: 80%">HTML</div>
      </div>
      <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-warning text-dark" style="width: 75%">JavaScript</div>
      </div>
      <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-danger" style="width: 100%">CSS</div>
      </div>
 
</div>
</div>


  </div>
  <app-footer></app-footer>
  