*{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
  }

.container {
    width: 100%;
  }
  
  .first {
    display: flex;
    justify-content: space-between; /* Adjusts space between the items */
    align-items: flex-start; /* Aligns items at the start of the container */
  }
  
  .inner2,
  .inner,
  .inner3 {
    flex: 1; /* Each item will take up equal space */
    margin: 10px; /* Optional: Add margin for spacing between items */
  }
  
  .inner2 img {
    max-width: 100%; /* Ensures the image doesn't overflow its container */
  }


  * {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f8f9fa; */
    color: #333;
}

.container {
    max-width: 929px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    font-size: 2.5em;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.explanation {
    font-size: 1.1em;
    line-height: 1.6;
}

.explanation p {
    margin-bottom: 15px;
}

.explanation p strong {
    color: #007bff;
}

.widget-title{
    margin-left: 50rem;
    }
    
    .icon-white svg path {
      fill: white;
    }



    .second {
        display: flex; /* Use flexbox */
     
      }
      
      .inner {
        flex: 1; /* Take up available space */
      }
      
      .inner1 {
        flex: 1; /* Take up available space */
        gap: 10px;
      }
      
      .second {
        display: flex; /* Use flexbox */
      }
      
      .inner {
        flex: 1; /* Take up available space */
      }
      
      .inner1 {
        flex: 1; 
        margin-top: 5rem;

      }
      
      .progress {
        margin-bottom: 33px; /* Add space between progress bars */
      }
      