<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-link" routerLink="./about">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-link" routerLink="./contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-link" href="/assets/vaishnavi.pdf" target="_blank">Resume</a>
      </div>
      <button type="button" class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/vaishnavi-fulsaundar-8389b3188/'">Hire Me</button>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb2fCYbYI98cL3FAuzk7+lE65FfAz4vcxIMB3oE5U2vYojan0" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-QS2M0Z6Jkhflg2ROgWmrRAv8p4QmT5U1eIjCMoHvD6Ujo0uJBI4a1q1bbxSkm3fP" crossorigin="anonymous"></script>
