<div class="container">
    <div class="background-sky hero">  <div class="inner">
        <h1>Contact</h1>
        <hr class="red-line"> 
    </div></div>
  
    <!-- <hr class="red-line">  -->
    </div>
<div class="fourth">
<div class="inner1">    
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <span class="elementor-icon elementor-animation-">
            <i aria-hidden="true" class="fas fa-mobile-alt"></i> </span>
        <h5 class="card-title"><span>
          +91 9604403276 </span></h5>
            <p class="card-text"> Monday - Friday from 7am - 5pm </p>
      
      </div>
    </div>

    <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <span class="elementor-icon elementor-animation-">
          <i aria-hidden="true" class="fas fa-mobile-alt"></i> </span>
      <h5 class="card-title"><span>
        vaishnavifulsaundar0707@gmail.com
    </span></h5>
          <p class="card-text">Contact me every time!
        </p>
    
    </div>
  </div>


</div>


<app-footer></app-footer>