*{
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}

p{
  font-family: Arial, Helvetica, sans-serif;
 
}
.first{
    display: flex;
    /* align-content: flex-start; */
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
}

.inner{
    margin-top: 6rem;
    line-height: 2rem;
}

.btn{
    background-color:  #cf2e2e
 }

img {
    width: 27rem;
    height: 31rem;
    margin-right: -6rem;
    margin-top: 3rem;
    border-radius: 4rem;
    border: none;
    box-shadow: none;         
}
.second{
  margin-top: 2rem;

}

.second  h1,.seven h1{
    margin-left: 24rem;
}

.second  p ,.seven p{
    margin-left: 22rem;
}
.red-line {
    border-bottom: 2px solid red;
    width: 20rem;
    margin-left: 24rem;
  }
  
  .red-line1 {
    border-bottom: 2px solid red;
    width: 31rem;
    margin-left: 16rem;
  }
  
.third{
    display: flex;
}

.clr{
    background-color:  #cf2e2e;
    /* margin-top: 4rem; */

}

.inner1 {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 3rem;

  }
  
  .fourth{
    margin-top: -4rem;
  }

.fourth h1{
  MARGIN-LEFT: 16rem;

}  


  .fourth .card {
    width: 18rem;
    border: none; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  

  .fourth .card-title {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .fourth .card img {
    width: 49%;
    height: auto;
    margin-right: 0rem;
    border-radius: 10px 10px 0 0; 
  }
  
  .fourth .card-body {
    padding: 20px;
  }
  
  .fourth .card .btn {
    margin-top: 10px;
  }
  
  .fourth .card-body {
    text-align: center;
  }
  
  .fifth  h1{
    margin-left: 24rem;
}


.fifth  p {
    margin-left: 18rem;
}


.six  .card{
    width: 32rem !important;
    height: 22rem;
    border: none; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .six  .card-title {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  

  .six  .card1-body {
    padding: 20px;
  }
  

  .six  .card1-body {
    text-align: center;
  }

 
  svg{
    width: 1.6rem;
    height: 1.8rem;
  }

footer{
    background-color:#212143;
    height: 20rem;
    color: white;


}
#new{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-start;
    margin-top: 5rem;

}

.widget-title{
margin-left: 50rem;
}

.icon-white svg path {
  fill: white;
}
 